.outer {
    border-radius: 10px;
    border: 2px solid #BDBDBD;
    background: #FFF;
}

.outer:hover {
    border: 2px solid #000;
}

.mode-visual {
    margin: 20px;

    background: #FFF;
}

.mode-title {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 18.2px */
    margin-bottom: 5px;
}

.mode-subtitle {
    color: #4F4F4F;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
    margin-bottom: 10px;
    margin-right: 25px;
    margin-left: 25px;
}